/*-----------------RESPONSIVE*/
/*-----------------MAIN*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 4%;
}

.GreenButton, .BookBorrowButton, .AddBookButton, .Edit a {
  padding: 1% 2%;
  outline: none;
  border: 1px solid #3d9749;
  background: #3d9749;
  color: white;
  -webkit-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media only screen and (max-width: 425px) {
  .GreenButton, .BookBorrowButton, .AddBookButton, .Edit a {
    padding: 3% 6%;
  }
}

.GreenButton:hover, .BookBorrowButton:hover, .AddBookButton:hover, .Edit a:hover {
  background: #50aa5c;
  border: 1px solid #50aa5c;
  cursor: pointer;
}

.GrayButton, .BookHeaderButton, .UserButton {
  padding: 1% 2%;
  outline: none;
  border: 1px solid grey;
  background: grey;
  color: white;
  -webkit-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

@media only screen and (max-width: 425px) {
  .GrayButton, .BookHeaderButton, .UserButton {
    padding: 1% 4%;
  }
}

.GrayButton:hover, .BookHeaderButton:hover, .UserButton:hover {
  background: #a0a0a0;
  border: 1px solid #a0a0a0;
  cursor: pointer;
}

.Book {
  margin: 2% 0%;
  padding: 2%;
  background: #f5f5f5;
  border: 1px solid #e7e7e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.Book:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.25);
}

.Book > div:nth-child(1) {
  width: 20%;
}

.Book > div:nth-child(2) {
  width: 70%;
  margin-left: 2%;
}

.AllBooksWrapp {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .AllBooksWrapp {
    margin-top: 5%;
    width: 95%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .AllBooksWrapp {
    width: 80%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .AllBooksWrapp {
    width: 80%;
  }
}

.Book p {
  margin: 2% 0%;
}

.Author:not(:first-of-type) {
  border-left: 1px solid grey;
  margin-left: 1%;
  padding-left: 1%;
}

.Book img {
  width: 100%;
}

.BookHeader h3 {
  font-size: 16px;
}

@media only screen and (max-width: 425px) {
  .BookHeader h3 {
    font-size: 15px;
  }
}

.Book p {
  font-size: 14px;
}

.BookHeaderButton {
  color: white;
  text-decoration: none;
  font-size: 14px;
  height: 90%;
}

.BookHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.AddBook {
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .AddBook {
    width: 70%;
    margin-top: 5%;
  }
}

.AddBook p {
  margin-top: 2%;
  margin-bottom: 0.6%;
}

@media only screen and (max-width: 425px) {
  .AddBook p {
    margin-top: 5%;
  }
}

.AddBook input, .AddBook textarea {
  outline: none;
  padding: 1%;
  border: 1px solid gray;
  min-width: 40%;
  max-width: 40%;
}

@media only screen and (max-width: 425px) {
  .AddBook input, .AddBook textarea {
    min-width: 80%;
    max-width: 80%;
    padding: 2%;
  }
}

.AddBookButton {
  display: block;
  margin-top: 2%;
}

.InputError {
  display: block;
  max-width: 20%;
  background: #fb7272;
  font-size: 13px;
  padding: 0.5%;
  margin-top: 0.5%;
  text-align: center;
  color: white;
}

@media only screen and (max-width: 425px) {
  .InputError {
    max-width: 50%;
    padding: 2%;
  }
}

.AllUsers {
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 3%;
          column-gap: 3%;
  row-gap: 0.5%;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  width: 70%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .AllUsers {
    margin-top: 5%;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
    row-gap: 0.1%;
  }
}

@media only screen and (min-width: 426px) and (max-width: 768px) {
  .AllUsers {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
    row-gap: 0.2%;
  }
}

@media only screen and (min-width: 1023px) and (max-width: 1441px) {
  .AllUsers {
    width: 80%;
  }
}

.User {
  padding: 7%;
  background: #f5f5f5;
  border: 1px solid #e7e7e7;
  -webkit-transition: ease-in;
  transition: ease-in;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.User:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 1px 6px 1px rgba(0, 0, 0, 0.15);
}

.User img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  height: 100px;
}

.User h3 {
  margin-top: 10%;
  margin-bottom: 2%;
}

.User p {
  margin: 2% 0%;
}

.User p:nth-child(7) {
  margin-bottom: 7%;
}

.UserButton {
  margin-top: 3%;
  padding: 2% 5%;
  text-decoration: none;
  font-size: 15px;
}

.Edit {
  width: 60%;
  margin: auto;
}

@media only screen and (max-width: 425px) {
  .Edit {
    margin-top: 5%;
    width: 70%;
  }
}

.EditElement {
  margin: 2% 0%;
}

@media only screen and (max-width: 425px) {
  .EditElement:nth-child(8) {
    margin-bottom: 8%;
  }
}

.EditElement p {
  margin-bottom: 1%;
}

.EditElement input, .EditElement textarea {
  padding: 0.8% 1.5%;
  outline: none;
  max-width: 50%;
  min-width: 50%;
  border: 1px solid gray;
}

@media only screen and (max-width: 425px) {
  .EditElement input, .EditElement textarea {
    max-width: 80%;
    min-width: 80%;
    padding: 2% 3.5%;
  }
}

.Edit a {
  font-size: 15px;
  color: white;
  text-decoration: none;
}

.Edit a:last-child {
  margin-left: 2%;
}
/*# sourceMappingURL=main.css.map */